<!-- This will end up being templating language -->
<p>
  {@response}
</p>

<!--
<p>
  Enemies
</p>
<table class="table auto">
  <tr>
    <th>Name</th>
    <th>CR</th>
  </tr>
  <tr>
    <td>Ogre</td>
    <td>7</td>
  </tr>
</table>
-->
