<div>
  <p class="text-yellow-500">You found TREASURE!</p>
  <br />
  <button hx-get="/encounters" hx-target="closest div">Bring home your spoils.</button>
  <p>or</p>
  <button hx-get={f("_dragon")} hx-target="closest div">Venture deeper into the dungeon!</button>
</div>
